body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fecd03;
}

::-webkit-scrollbar {
  width: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  width: 18rem;
  background-color: #0570b4;
  color: #efeee1;
  border-radius: 6%;
}

.btn {
  color: #efeee1
}

.btn-primary {
  background-color: #0570b4;
}

.title {
  background-color: #0570b4;
  color: #efeee1;
  font-size: xxx-large;
}

.page{
  background-color: #0570b4;
  color: #efeee1;
}